<section class="card">
  <div class="card-body">
    <h1>DESCRIPCION</h1>
    <p>
      ESTE PROYECTO SE CREO CON LA INTENCION DE PODER SABER CUANTOS EQUIPOS DE
      COMPUTO FUERON ALQUILADOS Y CON QUE COMPONENETES.
    </p>
    <p>
      DESARROLLADORES: Guillermo Segura Mauricio Velasquez Andres Felipe Guio
      Bernal Edison Luna Gutierrez

    </p>
    <p>
      SCRUM MASTER: Cristian Josue Vargas Mendoza
    </p>
  </div>
</section>