<div class="card card-body p-5 mt-4">
  <h1 class="display-4">ALQUILER DE PC</h1>
  <p class="lead">Para regresar a su inventario vaya a la parte superior derecha
    y seleccione inventario</p>
  <hr class="my-4" />
  <p>Si desea registrar un nuevo usuario para generar otro tipo de inventario
    presione [REGISTRARSE]
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >REGISTRARSE</a>
  </div>
</div>